@model TestProject.Web.Models.MotorcycleViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Motorcycles</h1>
@{
    var resultErrorMessage = TempData["ResultErrorMessage"] as string ?? "";
    var resultSuccessMessage = TempData["ResultSuccessMessage"] as string ?? "";
}

<div id="alerts">
@if (!string.IsNullOrEmpty(resultErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @resultErrorMessage
    </div>
}
@if (!string.IsNullOrEmpty(resultSuccessMessage))
{
    <div class="alert alert-success" role="alert">
        @resultSuccessMessage
    </div>
}
</div>


@using (Html.BeginForm("Index", "Motorcycle", FormMethod.Get))
{
    <div class="form-group">
        <label asp-for="LicensePlate" class="control-label"></label>
        <input asp-for="LicensePlate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
    @if (User.IsInRole("Admin")){
        <a asp-action="Create" class="btn btn-secondary">Create New</a>
    }
}
<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                Allocated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Motorcycles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicensePlate)
                    </td>
                    <td>
                        @if (item.AllocatedUntil >= DateTime.Now)
                        {
                            <text>yes</text>
                        }
                        else
                        {
                            <text>no</text>
                        }
                   </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit  ", "Edit", new {  plate = item.LicensePlate })
                            @if (item.AllocatedUntil < DateTime.Today)
                                @Html.ActionLink("Delete  ", "Delete", new { id = item.Id })

                        }


                        @if (item.AllocatedUntil < DateTime.Today)
                            @Html.ActionLink("Book","Create","Booking", new { motorcycleId = item.Id})
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="deleteResultModal" tabindex="-1" role="dialog" aria-labelledby="deleteResultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteResultModalLabel">Delete Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="deleteResultMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#alerts').fadeOut('slow');
            }, 3000);
        });
    </script>
}

